body {
	background-image: url(../img/PizzaPic.jpg);
}
.header {
	text-align: center;
	color: green;
}

.BContainer {
	display: block;
	position: fixed;
	left: 45%;
	bottom: 10%;
}

.BPlaceorder {
	padding-bottom: 25%;
}

.CancelButton {
	text-align: center;
}

button {
	padding: 10px;
}

#MContainer {
	
}

.MenuSize {
	display: inline-block;
	background-color: #ffffff;
	position: fixed;
	left:24%;
	bottom: 61%; 
}

.MenuMeat {
	display: inline-block;
	background-color: #ffffff;
	position: fixed;
	left:45%;
	bottom: 55%; 	
}

.MenuCh {
	display: inline-block;
	background-color: #ffffff;
	position: fixed;
	left:65%;
	bottom: 64%;
}

.MenuVeg {
	display: inline-block;
	background-color: #ffffff;
	position: fixed;
	left: 24%;
	bottom: 20%;	
}

.MenuSa {
	display: inline-block;
	background-color: #ffffff;
	position: fixed;
	left:45%;
	bottom: 29%;
}

.MenuCr {
	display: inline-block;
	background-color: #ffffff;
	position: fixed;
	left: 65%;
	bottom: 26%;
}

#cart {
	background-color: light gray;
	float: right;
}
